:root {
  --color-base: #e7e7e7;
  --color-primario: #f9d6d5;
  --color-secundario: #b5706e;
  --color-negro: #000;
  --color-blanco: #fff;
}
/* ---------------------------- generales ---------------------------- */
/* border box */
* {
  box-sizing: border-box;
}
/* rem vale 10px */
html {
  font-size: 62.5%;
}
/* color de fondo body */
body {
  background-image: url(img/fondo.png);
  background-size: 20rem;
  background-color: var(--color-base);
  text-align: center;
}
/* reset */
* {
  padding: 0;
  margin: 0;
}
/* utilidades  */
.btn-llegar {
  padding: 2rem 2.5rem;
  background-color: var(--color-secundario);
  color: var(--color-primario);
  font-size: 2rem;
  border-radius: 2rem;
  text-decoration: none;
}
/* estilos */
header {
  background-color: var(--color-primario);
  p {
    font-size: 2.5rem;
    color: var(--color-secundario);
    padding: 2rem 2.5rem;
  }
}
.hero {
  margin: 1rem 0;
  font-size: 2rem;
  h1 {
    font-size: 3rem;
    color: var(--color-secundario);
  }
}
.info {
  position: relative;
  margin: 2rem 0;
  padding: 0 0.5rem;
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1.8rem;
    text-align: start;
  }
  .img-meme {
    position: absolute;
    width: 15rem;
    z-index: -1;
    border-radius: 50%;
  }
  .img-1 {
    left: 1rem;
  }
  .img-2 {
    right: 1rem;
    bottom: 1rem;
  }
}
.como-llegar {
  h2 {
    font-size: 2rem;
  }
}
